<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
.repo-header {
    background-color: #D3D3D3;
    border: 1px solid;
}
.repo-header .main-header {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}
.repo-header .sub-header {
    font-size: 1em;
    width: 100%;
}

.section-header td  {
    border: 1px solid;
    font-size: 1.2em;
    font-weight: bold;
}
.column-headers td {
    border-bottom: 1px solid;
    font-weight: bold;
}
td.first {
    border-left: 1px solid;
}
td.last {
    border-right: 1px solid;
}
.last-row td {
    border-bottom: 1px solid;
}
.errors {
    background-color: #CC4240 !important;
}

label:has(input.fold) i.marker {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
}
label:has(input.fold) {
    display: block;
}
label:has(input.fold:checked) i.marker {
  transform: rotate(-135deg);
}
label:has(.fold:not(:checked)) + * { display: none; }
input.fold{display:none;}
</style>

</head>
<body>

{% for repo in data if repo.should_render %}
<table>
    <tr class="repo-header {% if missed_backup %}errors{% endif %}">
    <td colspan="4">
        <div class="main-header">{{repo.status.clientOptions.description}}</div>
        <div class="sub-header">
            {% if repo.snapshots | length == 0 -%}
                No new snapshots since last report
            {%- else -%}
                Last snapshot: {{repo.last_snapshot.astimezone().strftime('%Y-%m-%d %H:%M')}}
                {%- if missed_backup %}<b>(no backups for {{  ((now - repo.last_snapshot).total_seconds()/24/3600) | round | int }} days)</b>{%- endif -%}
            {%- endif -%}
            {% if repo.last_modified_file is not none %}
                <br>Last modified file: {{repo.last_modified_file.time.astimezone().strftime('%Y-%m-%d %H:%M')}} ({{repo.last_modified_file.path }})
            {% endif %}
        </div>
    </td>
    </tr>
</table>
    {% for host_user, host_snapshots in repo.snapshots | groupby("source.from") %}
        {% set host = host_user.0 %}
        {% set user = host_user.1 %}
        {% for path, path_snapshots in host_snapshots | groupby("source.path") %}
            {% set path_info = namespace(error_count=0, last_snapshot=None) %}
            {% for snapshot in path_snapshots %}
                {% if snapshot.stats.errorCount > path_info.error_count %}
                    {% set path_info.error_count = path_info.error_count + 1 %}
                {% endif %}
                {% if path_info.last_snapshot == None or snapshot.st > path_info.last_snapshot %}
                    {% set path_info.last_snapshot = snapshot.st %}
                {% endif %}
            {% endfor %}
    {% set path_inactivity = (now - path_info.last_snapshot).total_seconds() %}
    {% set missed_backup = path_inactivity > 60*(
            repo.config.inactivity_weeks*60*24*7
            + repo.config.inactivity_days*60*24
            + repo.config.inactivity_hours*60
            + repo.config.inactivity_minutes
        )
    %}

    <label>
        <table>
            <tr class="section-header"><td colspan="4" {% if path_info.error_count > 0 %}class="errors"{% endif %}>
                <i class="marker"></i>
                {{user}}@{{host}} - {{path}}
        {% if missed_backup %}
            {% if path_inactivity > 3600*24*1.5 %}
                <b>(no backups for {{ (path_inactivity/3600/24) | round | int }} days)</b>
            {% elif path_inactivity > 3600*1.5 %}
                <b>(no backups for {{ (path_inactivity/3600) | round | int }} hours)</b>
            {% else %}
                <b>(no backups for {{ (path_inactivity/60) | round | int }} minutes)</b>
            {% endif %}
        {% endif %}
            </td></tr>
        </table>
        <input type="checkbox" class="fold" {% if path_info.error_count > 0 or missed_backup %}checked{% endif %}>
    </label>
    <table>
            <tr class="column-headers">
                <td class="first">Time</td>
                <td>Duration</td>
                <td>Total Files</td>
                <td class="last">Backed Up Files</td>
            </tr>

            {% for snapshot in path_snapshots %}
                {% set iloop = loop %}
                {% include "snapshot.template" %}
            {% endfor %}
    </table>
        {% endfor %}
    {% endfor %}

{% endfor %}
</body>
</html>
